.container {
  width: 1024px;
  display: flex;
  justify-content: space-around;
}

.catalog__item {
  display: none;
}
.active {
  display: block;
}
.catalog__user {
  list-style: none;
  margin-left: 20px;
}
.catalog__user:hover {
  cursor: pointer;
}
